<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
  <% if current_user %>
  <%= "Welcome, #{current_user.user_name}" %>
  <%= button_to 'Logout', session_url, method: :delete %>
  <%= link_to 'Rent a Cat', new_cat_rental_request_url %>
  <% else %>
  <%= link_to 'Login', new_session_url %>
  <%= link_to 'Sign Up', new_user_url %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
